/* #fromContainer {
    background-color: gray;
    opacity: 0.5;
} */

/*ALL*/
/*ALL BUTTONS*/
.btn {
    color: #ffffff !important;
    background-image: linear-gradient(to right, #AE8625, #F7BD69, #D2AC47, #EDC967);
}

.btn:hover {
    color: #EDC967 !important;
    background-image: linear-gradient(to right, black, black, black, black);
}

/*NAVBAR*/
/*NAVBAR BTN*/
#btn-nav-login, #btn-login-login, #btn-login-register, #btn-check, #btn-again{
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 2rem;
}

/*NAVBAR LINKS*/
.nav-link {
    color: #ffffff !important;
}

.nav-link.active, .nav-link:hover {
    color: #EDC967 !important;
}

/*NAVBAR LOGO*/
.navbar-brand img {
    height: 2.5rem;
}

/*NAVBAR FONT*/
.navbar {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/*LOGIN SCREEN*/
/*LOGIN LINK*/
#link-login {
    color: #AE8625;
}

#link-login:hover {
    color: black;
}

/*MAIN*/
/* Text over Foto's */
.image {
    position: relative;
    width: 100%;
}

.image__img {
    display: block;
    width: 100%;
    border-radius: 4px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 600;
    opacity: 1;
    transition: background 0.4s;
    border-radius: 4px;
}

.image__overlay:hover {
    background: rgba(0, 0, 0, 0.6);
}

/*LOTR PAGE*/
/*START BUTTON*/
#StartButtonCss {
    padding: 4vh 6vh;
    margin-top: 50%;
    font-size: 8vh;
    font-weight: 700;
    border-radius: 20px;
}

#StartButtonContainer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
}

/* Slideshow op LoTRPagina */

#carouselExampleSlidesOnly {
    position: fixed; /* laten staan anders komt voor button */
}

.img-responsive {
    height:initial;
}

/* @media only screen and (max-width: 600px) {
    .img-responsive {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
} */

/* Plaats de quote pop up in het midden van de pagina en Make up */
.modal {
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 20%;
    vertical-align: middle;
}

.modal-dialog {
    vertical-align: middle;
}

.modal-content {
    background-color: lightgrey;
    font-weight: 600;
}

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

